.DS_Store
Bubble/Bubble.xcodeproj
Bubble/Bubble.xcworkspace
Bubble/Pods/Pods.xcodeproj
Bubble/Bubble.xcodeproj/*
Bubble/Bubble.xcworkspace/xcuserdata/*
.Trashes
xcuserdata/
*/xcuserdata/
xcuserdata/*
*.xcuserstate
project.xcworkspace/
